<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         backupGlobals="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="true"
         colors="false"
         bootstrap="vendor/autoload.php"
>
  <coverage>
    <include>
      <directory>src</directory>
    </include>
    <exclude>
      <directory>src/Resources</directory>
      <directory>src/DependencyInjection</directory>
    </exclude>
    <report>
      <clover outputFile="./build/clover.xml"/>
      <text outputFile="php://stdout" showUncoveredFiles="false" showOnlySummary="true"/>
    </report>
  </coverage>
  <php>
    <ini name="error_reporting" value="-1"/>
    <server name="KERNEL_DIR" value="tests/"/>
    <env name="KERNEL_CLASS" value="HarmBandstra\SwaggerUiBundle\Tests\AppKernel"/>
    <env name="XDEBUG_MODE" value="coverage"/>
    <ini name="xdebug.mode" value="coverage"/>
  </php>
  <testsuites>
    <testsuite name="Swagger UI Bundle Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
